{% extends 'base.html.twig' %}

{% block body %}

<section class="articles">

    <article class="mt-5">

        <h1> {{ article.title }} </h1>

        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Cinéma</div>

        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p>{{ article.content }}</p>
        </div>

    </article>

    <div class="d-flex flex-column">
        <div>
            <a class="mr-3" href="{{ path('blog_update', {'id': article.id }) }}">
                <button type="submit" class="btn btn-success mt-2">
                    Modifier l'article
                </button>
            </a>
            <a href="{{ path('blog_delete', {'id': article.id }) }}">
                <button type="submit" class="btn btn-danger mt-2">
                    Supprimer l'article
                </button>
            </a>
        </div>
        <a class="mt-2" href="{{ path('blog_list') }}">Retour à la liste</a>
    </div>

</section>

{% endblock %}
