{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<section class="column m-auto">

    {# Boucle pour afficher la liste des articles qui sont en BDD #}
    {% for article in articles %}

        <article class="pt-2 mb-5 mt-3">
            <h2>{{ article.title }}</h2>
            <div class="metadata mb-2">Ecrit le {{ article.createdAt | date('d/m/Y à H:i') }} dans la catégorie {{ article.category.name }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <p class="mt-2">{{ article.content }}</p>
                <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>

    {% endfor %}

</section>

<div class="my-4 text-center">
    <a href="{{ path('blog_home') }}">Retour à la page d'accueil</a>
</div>

{% endblock %}
