{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<section class="articles">

    {# Boucle pour afficher la liste des articles qui sont en BDD #}
    {% for article in articles %}

        <article class="mt-5">
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Cinéma</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <p>{{ article.content }}</p>
                <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>

    {% endfor %}

    <div class="my-4 text-center">
        <a href="{{ path('blog_home') }}">Retour à la page d'accueil</a>
    </div>

</section>

{% endblock %}
