{% extends 'base.html.twig' %}

{% block body %}

<section class="articles">

    <article class="mt-3">

        <h1> {{ article.title }} </h1>

        <div class="metadata mb-3">Ecrit le {{ article.createdAt | date('d/m/Y à H:i') }} dans la catégorie {{ article.category.name }}</div>

        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p class="mt-3">{{ article.content }}</p>
        </div>

    </article>

    <div class="text-center mb-4">
        <div>
            <a class="mr-3" href="{{ path('blog_update', {'id': article.id }) }}">
                <button type="submit" class="btn btn-success mt-2">
                    Modifier l'article
                </button>
            </a>
            <a href="{{ path('blog_delete', {'id': article.id }) }}">
                <button type="submit" class="btn btn-danger mt-2">
                    Supprimer l'article
                </button>
            </a>
        </div>

    </div>

</section>

<section class="mt-3">
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col-9">
                    {{comment.content}}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</section>

<div class="my-4 text-center">
    <a href="{{ path('blog_list') }}">Retour à la liste</a>
</div>

{% endblock %}
